.advantages {
  max-width: 1280px;
  max-height: 843px;
  padding: 100px 90px 100px 90px;
}

.advantages__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 115%;
  color: #333333;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 64px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 64px;
}

.advantages__item {
  padding: 20px;
}

.advantages__item--farms {
  background: #E1EDCE;
}

.advantages__item--shop {
  background: #F8DDD7;
}

.advantages__tag {
  display: inline-block;
  padding: 4px 10px 4px 10px;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 5px;
}

.advantages__item--farms .advantages__tag {
  background: #88AA4D;

}

.advantages__item--shop .advantages__tag {
  background: #F75531;
}

.advantages__wrapper-start {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.advantages__name {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.advantages__button {
  display: flex;
  justify-content: center;
}